---
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import Component from '@components/Component.svelte'

import {default as metadata} from '../../data/metadata.json'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{metadata.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Description" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <Header title={metadata.title} />
    <div class="content">
      Index page
      <Component />
    </div>
    <Footer />
  </body>
</html>
